<!-- Search and filter section -->
<div class="filters-container">

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search for order</mat-label>
    <input #searchInput matInput placeholder="Enter order id, user email, full name or customer phone"
      [(ngModel)]="searchTerm" (keyup)="onSearchEnter($event)">
    <mat-icon matPrefix>search</mat-icon>
    <button mat-icon-button matSuffix (click)="applyFilter()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="statusFilter" (selectionChange)="applyFilter()">
      <mat-option value="">All</mat-option>
      <mat-option value="Pending">Pending</mat-option>
      <mat-option value="Processing">Processing</mat-option>
      <mat-option value="Shipped">Shipped</mat-option>
      <mat-option value="Delivered">Delivered</mat-option>
      <mat-option value="Cancelled">Cancelled</mat-option>
    </mat-select>
  </mat-form-field>

</div>

<!-- Orders table -->
<div class="mat-elevation-z8 orders-table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Order ID Column -->
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
      <td mat-cell *matCellDef="let order"> #{{order._id}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let order"> {{order.orderDate | date:'MMM d, yyyy'}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let order">
        <mat-form-field appearance="outline" class="status-select">
          <mat-select [(value)]="order.status" (selectionChange)="updateOrderStatus(order._id, $event.value)"
            [disabled]="order.status === 'Cancelled'">
            <mat-option *ngFor="let status of validStatuses" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="status-badge" [ngClass]="{
          'delivered': order.status === 'Delivered',
          'pending': order.status === 'Pending',
          'processing': order.status === 'Processing',
          'shipped': order.status === 'Shipped',
          'cancelled': order.status === 'Cancelled'
        }">
          {{order.status}}
        </span>
      </td>
    </ng-container>

    <!-- Customer Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer </th>
      <td mat-cell *matCellDef="let order">
        <div class="customer-info">
          <div class="avatar">
            {{order.customerName?.firstName?.charAt(0) +order.customerName?.lastName?.charAt(0) ||
            order.userId?.email?.charAt(0)?.toUpperCase() || 'US'}}
          </div>
          <div class="customer-details">
            <span class="customer-name">
              {{(order.customerName?.firstName || 'N/A') + ' ' + (order.customerName?.lastName || '')}}
            </span>
            <span class="customer-email">{{order.userId?.email || 'N/A'}}</span>
            <span class="customer-phone">{{order.customerName?.phoneNumber}}</span>

            <div class="address">
              <span class="city">{{order.shippingAddress?.city || 'N/A'}}</span>,
              <span class="country">{{order.shippingAddress?.country || 'N/A'}}</span>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
      <td mat-cell *matCellDef="let order"> ${{order.totalAmount.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
      <td mat-cell *matCellDef="let order"><button mat-icon-button [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="'/orders/order/'+order._id">
            <mat-icon>preview</mat-icon>
            <span>View Order</span>
          </button>
          <button mat-menu-item [disabled]="order.status !== 'Pending' && order.status !== 'Processing'"
            (click)="cancelOrder(order._id)">
            <mat-icon>cancel</mat-icon>
            <span>Cancel Order</span>
          </button>
        </mat-menu>

      </td>


    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalOrders" [pageSize]="10" [pageSizeOptions]="[1,2,5, 10, 25, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>